.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  & a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    color: #2c3e50;
  }
  &-logo {
    display: flex;
    align-items: center;

    &-image {
      max-width: 100%;
      width: 200px;
    }
  }
  .main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
    &:hover {
      text-decoration: underline;
    }
  }
  .main-nav-logout {
    display: flex;
    margin-right: 0.5rem;
    gap: 20px;

    @media (max-width: 720px) {
      flex-direction: column;
      gap: 0;
    }

    p {
      @media (max-width: 720px) {
        margin: 2px 0;
      }
    }
    .logout {
      cursor: pointer;
    }

    .icon-logout {
      margin-right: 7px;
    }
  }
  // a placer correctement lors de la mise en place des composants react::after

  .main-nav a.router-link-exact-active {
    color: #42b983;
  }
}
