.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto 50px;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: rgb(73, 73, 73) 1px 1px 1px;

  .sign-in-icon {
    font-size: 1.1rem;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
    & label {
      font-weight: bold;
    }
    & input {
      padding: 5px;
      font-size: 1.2rem;

      &::placeholder {
        font-size: 0.75em;
      }
    }
    #username {
      color: #00bc77;
      font-weight: bold;
    }
  }
  .input-remember {
    display: flex;
    & label {
      margin-left: 0.25rem;
    }
  }
}
.errorMessage {
  text-align: center;
  font-size: 1.15em;
  font-weight: 600;
  color: red;
  background-color: white;
  width: 280px;
  padding: 15px 10px;
  margin: 30px auto 0;
  border-radius: 10px;
  animation: error 1200ms ease;
  box-shadow: rgba(135, 134, 134) 0px 1px 4px;

  @keyframes error {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
.successMessage {
  text-align: center;
  font-size: 1.15em;
  font-weight: 600;
  color: white;
  background-color: #00bc77;
  width: 280px;
  padding: 15px 10px;
  margin: 30px auto 0;
  border-radius: 10px;
  animation: error 1200ms ease;
  box-shadow: rgba(132, 132, 132) 0px 1px 4px;

  @keyframes error {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
